<template>
  <div class="hello">
    <a href="#top"><button class="button fixed top">Go to 🔝</button></a>
        <button class="button fixed data" @click="pullData">Get more data</button>
        <a v-bind:href="exportURI" download="export.json"><button class="button is-danger fixed save">💾 Export</button></a>
        <div class="select is-primary fixed">
            <select @change="reorder($event.target.value)">
                <option selected disabled="disabled" value="">Order By</option>
                <option value="divisionId">Division ID</option>
                <option value="teamId">Team ID</option>
                <option value="managerId">Manager ID</option>
                <option value="id">Employee ID</option>
                <option value="firstName">First Name</option>
                <option value="lastName">Last Name</option>
                <option value="birthdate">Birthdate</option>
                <option value="income">Income</option>
            </select>
        </div>
        <button class="button fixed reverse" @click="reverse = !reverse">{{ reverse ? "🡓 Descending" : "🡑 Ascending" }}</button>

        <table class="table is-striped">
            <thead>
                <tr>
                    <td @click="reorder('divisionId')">Division ID</td>
                    <td @click="reorder('teamId')">Team ID</td>
                    <td @click="reorder('managerId')">Manager ID</td>
                    <td @click="reorder('id')">Employee ID</td>
                    <td @click="reorder('firstName')">First Name</td>
                    <td @click="reorder('lastName')">Last Name</td>
                    <td @click="reorder('birthdate')">Birthdate</td>
                    <td>Happiness</td>
                    <td @click="reorder('income')">Income</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="result in results">
                    <td>{{ result.divisionId }}</td>
                    <td>{{ result.teamId }}</td>
                    <td>{{ result.managerId }}</td>
                    <td>{{ result.id }}</td>
                    <td>{{ result.firstName }}</td>
                    <td>{{ result.lastName }}</td>
                    <td>{{ result.birthdate }}</td>
                    <td>{{ result.happiness }}</td>
                    <td>{{ result.income }}</td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>

import { retrieveData,
         deepMerge,
         dataConversion,
         dataToDisplay,
         dynamicSort } from "../utils"

export default {
  name: "DataList",
  data: function() {
    return {
      reverse: false,
      dataset: {},
      results: [],
      start: 0,
      end: 99
    }
  },

  created() {
    this.pullData()
  },

  computed: {
    exportURI: function() {
      return `data:text/json,${encodeURIComponent(
        JSON.stringify(this.dataset, null, 4)
      )}`
    }
  },

  methods: {
    flat: function() {
      this.results = dataToDisplay(this.dataset)
    },
    reorder: function(prop) {
      this.results = this.results.sort(dynamicSort(prop, this.reverse))
    },
    pullData: function() {
      retrieveData(this.start, this.end)
        .then(res => {
          const numberOfRecords = res.data.trim().split("\n").length - 1
          if (!numberOfRecords)
            throw new Error("No more records to retrieve... 🤔")
          else {
            this.dataset = deepMerge(this.dataset, dataConversion(res.data))

            this.flat()
            this.start += numberOfRecords
            this.end += numberOfRecords
          }
        })
        .catch(err => {
          alert(err.message)
        })
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  margin-top: 2rem;
}
thead td {
  cursor: pointer;
}
.fixed {
  box-shadow: 2px 2px 2px #ddd;
  opacity: 0.95;
  position: fixed;
  top: 0;
}
button.top {
  left: 0;
}
div.fixed {
  left: 6.5rem;
}
button.reverse {
  left: 16.5rem;
}
button.data {
  right: 0;
  top: 3rem;
}
button.save {
  right: 0;
  top: 6rem;
}
</style>
