<template>
  <div id="app">
    <DataList/>
  </div>
</template>

<script>
import DataList from "./components/DataList";

export default {
  name: "App",
  components: {
    DataList
  }
};
</script>

<style>
@import "../node_modules/bulma/css/bulma.css";
</style>
